@*@model IEnumerable<TaxNetXML.Models.User>*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Выберите файл для загрузки</h3>
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <p>Ограничение на размер файла: 5 МБ</p> //TODO сделать проверку размера файла
        <input type="file" name="upload" /><br>
        <input type="submit" value="Загрузить" />
    }

    <h3>Users</h3>
    <table>
        <tr class="header">
            <td><p>id</p></td>
            <td><p>name</p></td>
            <td><p>age</p></td>
        </tr>
        @foreach (var b in ViewBag.Users) {
            <tr>
                <td><p>@b.Id</p></td>
                <td><p>@b.Name</p></td>
                <td><p>@b.Age</p></td>
            </tr>}
    </table>
</div>